h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --logo-color: #000000;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
  font-weight: 400;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
